<div class="panel panel-default">
  <div class="panel-heading">Orders</div>
  <div class="panel-body">
  </div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Cost</th>
         </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <th scope="row"><%= order.id %></th>
          <td><%= order.name %></td>
          <td><%= order.phone %></td>
          <td><%= order.address %></td>
          <td><%= order.cost %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>